DATASET_DIRS:
  DATASET_DIR: "datasets"
  TRAIN_IMAGES_DIR: ${DATASET_DIRS.DATASET_DIR}/sample/sample/images
  TEST_IMAGE_DIR: ${DATASET_DIRS.DATASET_DIR}/images-small
  TRAIN_CSV: ${DATASET_DIRS.DATASET_DIR}/sample/sample_labels.csv
  VALID_CSV: ${DATASET_DIRS.DATASET_DIR}/valid-small.csv
  TEST_CSV: ${DATASET_DIRS.DATASET_DIR}/test.csv

PRETRAIN_MODEL:
  MODEL_NAME: "densenet"
  DENSENET_WEIGHT_PATH: "pretrain_weights/densenet.hdf5"
  PRELOADED_WEIGHT_PATH: "pretrain_weights/pretrained_model.h5"

TRAIN:
  BATCH_SIZE: 12
  NUM_EPOCHS: 20
  LEARNING_RATE: 0.01
  IMG_SIZE: 320

OUTPUTS:
  OUPUT_DIR: "exported_models/my_${PRETRAIN_MODEL.MODEL_NAME}"
  CONFIG_PIPELINE_PATH: ${OUTPUTS.OUPUT_DIR}/
  CHECKPOINT_PATH: ${OUTPUTS.OUPUT_DIR}/checkpoints/
  LOG_DIR: ./logs
